@import "tailwindcss";

@layer utilities {
  .text-glow {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.4),
      0 0 20px rgba(255, 255, 255, 0.3), 0 0 30px rgba(255, 255, 255, 0.2);
  }

  .text-glow-blue {
    text-shadow: 0 0 10px rgba(59, 130, 246, 0.8),
      0 0 20px rgba(59, 130, 246, 0.5), 0 0 30px rgba(59, 130, 246, 0.3);
  }
}

/* Hero Sections */

.hero-main {
  @apply flex flex-col justify-end h-screen;
}

.navbar {
  @apply flex justify-between w-full bg-[rgb(17_17_17_/_0.75)] fixed;
}

.left-section {
  @apply flex gap-6;
}

.navbar-button {
  @apply text-white flex items-center justify-center border-t-4 border-t-transparent hover:border-t-4 hover:border-t-blue-400;
  transition: all 0.3s ease;
}

.navbar-button:hover {
  text-shadow: 0 0 10px rgba(105, 160, 248, 0.877),
    0 0 20px rgba(59, 130, 246, 0.5), 0 0 30px rgba(59, 130, 246, 0.3);
}

.right-section {
  @apply text-white flex gap-6;
}

.hero-section {
  @apply flex flex-col justify-center items-center mb-15 gap-5;
}

.play-button {
  @apply bg-white rounded-[100%] p-5 border-2 border-transparent hover:bg-transparent hover:text-white cursor-pointer hover:border-2 hover:border-white;
  transition: 300ms;
}

.start {
  @apply ml-0.5;
}

.available-platform {
  @apply grid justify-center items-center gap-4;
  grid-template-columns: auto repeat(4, (1fr));
}

.tagline {
  @apply text-white text-3xl font-semibold;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

/* News sections */

.news-section {
  @apply h-screen bg-[url(/news-bg.png)];
}

.news-header {
  @apply flex justify-center;
}

/* Region section */
.region-section {
  @apply h-screen;
}
