@import "tailwindcss";

@layer utilities {
  .text-glow {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.4),
      0 0 20px rgba(255, 255, 255, 0.3), 0 0 30px rgba(255, 255, 255, 0.2);
  }

  .text-glow-blue {
    text-shadow: 0 0 10px rgba(59, 130, 246, 0.8),
      0 0 20px rgba(59, 130, 246, 0.5), 0 0 30px rgba(59, 130, 246, 0.3);
  }
}

/* Hero Sections */

.hero-main {
  @apply flex flex-col justify-end h-screen;
}

.navbar {
  @apply flex justify-between w-full bg-[rgb(17_17_17_/_0.75)] fixed;
}

.left-section {
  @apply flex gap-6;
}

.navbar-button {
  @apply text-white flex items-center justify-center border-t-4 border-t-transparent hover:border-t-4 hover:border-t-blue-400;
  transition: all 0.3s ease;
}

.navbar-button:hover {
  text-shadow: 0 0 10px rgba(105, 160, 248, 0.877),
    0 0 20px rgba(59, 130, 246, 0.5), 0 0 30px rgba(59, 130, 246, 0.3);
}

.right-section {
  @apply text-white flex gap-6;
}

.hero-section {
  @apply flex flex-col justify-center items-center mb-15 gap-5;
}

.play-button {
  @apply bg-white rounded-[100%] p-5 border-2 border-transparent hover:bg-transparent hover:text-white cursor-pointer hover:border-2 hover:border-white;
  transition: 300ms;
}

.start {
  @apply ml-0.5;
}

.available-platform {
  @apply grid justify-center items-center gap-4;
  grid-template-columns: auto repeat(4, (1fr));
}

.tagline {
  @apply text-white text-3xl font-semibold;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

/* News sections */

.news-section {
  @apply h-screen bg-[url(/news-bg.png)] flex flex-col items-center gap-15;
}

.news-header {
  @apply flex justify-center;
}

.news-card {
  @apply w-3/4 flex mt-13;
  background-color: rgba(66, 59, 59, 0.425);
}

.news-img {
  @apply flex-1;
}

.news-list {
  @apply flex-1;
}

.news {
  @apply flex flex-col justify-center;
}

.news-link {
  @apply p-3.5 flex items-center justify-between text-white border-b-1 border-[rgba(172,170,166,0.42)];
}

/* Region section */

.region {
  @apply flex justify-center items-center h-80 border-4 border-transparent hover:border-white overflow-hidden relative;
  transition: border 500ms;
}

.region-name {
  @apply text-4xl text-white font-bold;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.region-chara {
  @apply absolute w-2xl;
  opacity: 0;
  top: 10%;
  right: 25%;
  transition: opacity 500ms;
}

.region:hover .region-chara {
  opacity: 1;
}

.mondo {
  @apply bg-[url(/region/mondstadt.jpg)] bg-[center_30%] bg-no-repeat w-full;
  transition: background-size 500ms ease;
  background-size: 105%;
}

.mondo:hover {
  background-size: 115%;
}

.liyue {
  @apply bg-[url(/region/liyue.png)] bg-[center_30%] bg-no-repeat w-full;
  transition: background-size 500ms ease;
  background-size: 105%;
}

.liyue:hover {
  background-size: 115%;
}

.inazuma {
  @apply bg-[url(/region/inazuma.jpg)] bg-center bg-no-repeat w-full;
  transition: background-size 500ms ease;
  background-size: 101%;
}

.inazuma:hover {
  background-size: 111%;
}

.sumeru {
  @apply bg-[url(/region/sumeru.webp)]  bg-center bg-no-repeat w-full;
  transition: background-size 500ms ease;
  background-size: 101%;
}

.sumeru:hover {
  background-size: 111%;
}

.fontaine {
  @apply bg-[url(/region/Fontaine.webp)]  bg-[center_30%] bg-no-repeat w-full;
  transition: background-size 500ms ease;
  background-size: 101%;
}

.fontaine:hover {
  background-size: 111%;
}

.natlan {
  @apply bg-[url(/region/natlan.png)]  bg-[center_30%] bg-no-repeat w-full;
  transition: background-size 500ms ease;
  background-size: 101%;
}

.natlan:hover {
  background-size: 111%;
}

.nod-krai {
  @apply bg-[url(/region/nodkrai.jpg)]  bg-[center_30%] bg-no-repeat w-full;
  transition: background-size 500ms ease;
  background-size: 101%;
}

.nod-krai:hover {
  background-size: 111%;
}
